@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
:root{
  --raisin-black: #1e212aff;
  --eerie-black: #15191cff;
  --denim-blue: #3044c9ff;
  --pastel-pink: #eeafb1ff;
  --gunmetal: #252c36ff;
  --icons: #4B505F;
  --typing: #8294AD;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--raisin-black)!important;
  color: #fff!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}